@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:200,200i,300,300i,400,500,600,700,800,900&display=swap");

/* line 16, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
a,
.button, button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 145, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #340964;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

/* line 157, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 161, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2730a7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

/* line 173, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.overlay_skyblue {
  position: relative;
  z-index: 0;
}

/* line 177, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.overlay_skyblue::before {
  position: absolute;
  content: "";
  background-color: #5DB2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

/* line 190, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

/* line 194, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 210, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.section__padding {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  /* line 210, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
  .section__padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 210, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
  .section__padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 222, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 228, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #0cce06;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #0e5bb3;
  left: 140px;
}

/* line 255, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 140px;
}

/* line 260, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

/* line 267, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

/* line 277, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 280, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: rgb(18, 68, 177);
  background: #1fc2d9;
  border: 1px solid transparent;
}

/* line 290, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}

/* line 294, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.mb-55 {
  margin-bottom: 55px;
}

/* line 297, ../../Arafath/CL/january 2020/243.Education/HTML/scss/theme-default.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 1, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn {
  background: rgb(247, 214, 32);
  color: #2b1947;
  display: inline-block;
  padding: 14px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #1fc2d9;
  text-align: center;
  color: #1fc2d9 !important;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 16, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn:hover {
  background: #1fc2d9;
  color: rgb(28, 151, 131) !important;
  border: 1px solid #1fc2d9;
}

/* line 25, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn3 {
  background: #1fc2d9;
  color: rgb(180, 197, 21);
  display: inline-block;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(58, 184, 216);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

/* line 42, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  background: rgb(109, 2, 2);
  color: #1fc2d9;
  border: 1px solid #1fc2d9;
}

/* line 51, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn4 {
  color: rgb(7, 178, 230);
  display: inline-block;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #204f85;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #1a1c28 !important;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* line 66, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn4:hover {
  background: #2067b3;
  color: rgb(151, 212, 9) !important;
  border: 1px solid #407ec0;
}

/* line 75, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn5 {
  display: inline-block;
  padding: 12px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #1fc2d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #1fc2d9 !important;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* line 89, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn5:hover {
  background: #1fc2d9;
  color: rgb(57, 155, 37) !important;
  border: 1px solid #1fc2d9;
}

/* line 174, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.line-button {
  color: #9c2997;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 182, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.line-button::before {
  position: absolute;
  content: "";
  background: #f38b03;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 191, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.line-button:hover {
  color: #1fc2d9;
}

/* line 194, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.line-button:hover::before {
  background: #1fc2d9;
}

/* line 198, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.book_now {
  display: inline-block;
  font-size: 14px;
  color: #1fc2d9;
  border: 1px solid #1fc2d9;
  text-transform: capitalize;
  padding: 10px 25px;
}

/* line 205, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.book_now:hover {
  background: #1fc2d9;
  color: rgb(8, 12, 250);
}

/* line 2, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 55px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  color: #234262;
}

/* line 11, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_section_title.scss */
.section_title P {
  font-size: 18px;
  line-height: 2;
  color: #7d84ab;
  margin-bottom: 0;
}

/* line 18, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_section_title.scss */
.section_title.white_text h3, .section_title.white_text p {
  color: rgb(121, 1, 1);
}

/* line 23, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_section_title.scss */
.mb-100 {
  margin-bottom: 100px;
}

/* line 13, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: rgb(158, 39, 39);
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

.submenu{
  background: gray;
  color: #5DB2FF;
}